In [12]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/ai-powered-loan-approval-prediction-model/sample_submission.csv
/kaggle/input/ai-powered-loan-approval-prediction-model/train.csv
/kaggle/input/ai-powered-loan-approval-prediction-model/test.csv

age
income
rent/ownership
emp length
loan amont

In [14]:
data = pd.read_csv('/kaggle/input/ai-powered-loan-approval-prediction-model/train.csv')

In [15]:
data

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58640,58640,34,120000,MORTGAGE,5.0,EDUCATION,D,25000,15.95,0.21,Y,10,0
58641,58641,28,28800,RENT,0.0,MEDICAL,C,10000,12.73,0.35,N,8,1
58642,58642,23,44000,RENT,7.0,EDUCATION,D,6800,16.00,0.15,N,2,1
58643,58643,22,30000,RENT,2.0,EDUCATION,A,5000,8.90,0.17,N,3,0
58644,58644,31,75000,MORTGAGE,2.0,VENTURE,B,15000,11.11,0.20,N,5,0

In [35]:
pd.isnull(data)

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58640,False,False,False,False,False,False,False,False,False,False,False,False,False
58641,False,False,False,False,False,False,False,False,False,False,False,False,False
58642,False,False,False,False,False,False,False,False,False,False,False,False,False
58643,False,False,False,False,False,False,False,False,False,False,False,False,False
58644,False,False,False,False,False,False,False,False,False,False,False,False,False

In [38]:
data = data.drop_duplicates

In [39]:
data

<bound method DataFrame.drop_duplicates of           id  person_age  person_income person_home_ownership  \
0          0          37          35000                  RENT
1          1          22          56000                   OWN
2          2          29          28800                   OWN
3          3          30          70000                  RENT
4          4          22          60000                  RENT
...      ...         ...            ...                   ...
58640  58640          34         120000              MORTGAGE
58641  58641          28          28800                  RENT
58642  58642          23          44000                  RENT
58643  58643          22          30000                  RENT
58644  58644          31          75000              MORTGAGE

       person_emp_length loan_intent loan_grade  loan_amnt  loan_int_rate  \
0                    0.0   EDUCATION          B       6000          11.49
1                    6.0     MEDICAL          C       4000          13.35
2                    8.0    PERSONAL          A       6000           8.90
3                   14.0     VENTURE          B      12000          11.11
4                    2.0     MEDICAL          A       6000           6.92
...                  ...         ...        ...        ...            ...
58640                5.0   EDUCATION          D      25000          15.95
58641                0.0     MEDICAL          C      10000          12.73
58642                7.0   EDUCATION          D       6800          16.00
58643                2.0   EDUCATION          A       5000           8.90
58644                2.0     VENTURE          B      15000          11.11

       loan_percent_income cb_person_default_on_file  \
0                     0.17                         N
1                     0.07                         N
2                     0.21                         N
3                     0.17                         N
4                     0.10                         N
...                    ...                       ...
58640                 0.21                         Y
58641                 0.35                         N
58642                 0.15                         N
58643                 0.17                         N
58644                 0.20                         N

       cb_person_cred_hist_length  loan_status
0                              14            0
1                               2            0
2                              10            0
3                               5            0
4                               3            0
...                           ...          ...
58640                          10            0
58641                           8            1
58642                           2            1
58643                           3            0
58644                           5            0

[58645 rows x 13 columns]>

In [41]:
from sklearn.preprocessing import LinearRegression

ImportError: cannot import name 'LinearRegression' from 'sklearn.preprocessing' (/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/__init__.py)

In [ ]:
from sklearn.preprocessing import LinearRegression
from sklearn.preprocessing import train_test_split

In [ ]:
linearR = LinearRegression(data)
data.linearR()

In [43]:
data1 = pd.read_csv('/kaggle/input/ai-powered-loan-approval-prediction-model/train.csv')

In [44]:
data1

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58640,58640,34,120000,MORTGAGE,5.0,EDUCATION,D,25000,15.95,0.21,Y,10,0
58641,58641,28,28800,RENT,0.0,MEDICAL,C,10000,12.73,0.35,N,8,1
58642,58642,23,44000,RENT,7.0,EDUCATION,D,6800,16.00,0.15,N,2,1
58643,58643,22,30000,RENT,2.0,EDUCATION,A,5000,8.90,0.17,N,3,0
58644,58644,31,75000,MORTGAGE,2.0,VENTURE,B,15000,11.11,0.20,N,5,0

In [ ]:
def train():
    if person_income>=50000 && loan_intent==MEDICAL || EDUCATION:
        train_test_split(data)

In [ ]:
def train():
    if person_income>=50000 && loan_intent==MEDICAL || EDUCATION:
        data.lr()